@charset "UTF-8";
.plans, .staff, .contact-box, footer .footer-columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

html {
  background: #2b2b40; }

html, body {
  margin: 0;
  padding: 0; }

body {
  font-family: "San Francisco", "Helvetica Neue", "Helvetica", "Arial"; }

a {
  color: #00a4ca;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

img {
  width: 100%; }

h1 strong, h2 strong {
  font-weight: 700; }

h1 {
  font-weight: 300;
  font-size: 2.3em;
  margin: 0; }

h2 {
  font-weight: 300;
  font-size: 2.2em;
  margin: 0 0 30px 0; }

h3 {
  margin: 20px 0 10px 0; }

p, address {
  font-size: 1.38em;
  color: #666;
  margin-bottom: 20px;
  font-weight: 300;
  line-height: 1.4em; }

.bottom-cta {
  background: linear-gradient(to bottom, #4182e4 0%, #4182e4 100%);
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 100px 0; }
  .bottom-cta h2 {
    margin-bottom: 50px; }

.testimonial {
  background: #f5f5f5;
  margin: 0;
  padding: 100px 0; }
  .testimonial .testimonial-block {
    max-width: 750px;
    width: 98%;
    margin: 0 auto; }
    @media (min-width: 450px) {
      .testimonial .testimonial-block {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex; }
        .testimonial .testimonial-block blockquote {
          -webkit-flex: 1;
          flex: 1; } }

.hero {
  color: #ffffff;
  text-align: center;
  background: linear-gradient(to bottom, #4182e4 0%, #4182e4 100%) no-repeat #a05fb7;
  padding-top: 50px; }
  .hero p {
    color: #fff; }

@media (min-width: 768px) {
  .flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    flex-direction: row; }
    .flex .text, .flex .image {
      -webkit-flex: 1;
      flex: 1;
      padding: 0 20px; }

  .content section:nth-child(even) .flex {
    flex-direction: row-reverse; } }
.container, .text-container {
  margin: 0 auto;
  position: relative;
  padding: 0 20px; }

.text-container {
  max-width: 750px; }

.container {
  max-width: 1140px; }
  .container.max-container {
    max-width: 100%;
    padding: 0; }

header {
  color: #fff;
  padding: 20px 0;
  background: #4182e4;
  /* Old browsers */
  background: linear-gradient(to bottom, #4182e4 0%, #4182e4 100%) no-repeat #4182e4; }
  header a {
    color: #fff;
    text-decoration: none;
    z-index: 1;
    position: relative; }
    header a:hover {
      text-decoration: none; }
  header .company-name {
    font-size: 1.7em;
    line-height: 0; }
    header .company-name a {
      display: inline-block; }
    header .company-name img {
      display: block;
      width: auto; }

.content {
  background: #fff;
  padding: 1px 0 0 0;
  position: relative; }

.screenshot {
  max-width: 100%;
  height: auto;
  display: block;
  box-shadow: 0 1px 0 #ccc, 0 1px 0 1px #eee;
  border-radius: 2px;
  margin-left: auto;
  margin-right: auto;
  background: #DDD url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2244%22%20height%3D%2212%22%20viewBox%3D%220%200%2044%2012%22%3E%3Ccircle%20cx%3D%226%22%20cy%3D%226%22%20r%3D%224%22%20fill%3D%22%23eee%22%20%2F%3E%3Ccircle%20cx%3D%2222%22%20cy%3D%226%22%20r%3D%224%22%20fill%3D%22%23eee%22%20%2F%3E%3Ccircle%20cx%3D%2238%22%20cy%3D%226%22%20r%3D%224%22%20fill%3D%22%23eee%22%20%2F%3E%3C%2Fsvg%3E") 4px 4px no-repeat;
  padding: 20px 0 0 0;
  position: relative; }

section {
  padding: 100px 0; }

section + section {
  padding-top: 0; }

.subtext {
  margin-top: 10px;
  text-align: center; }

.cta {
  margin: 60px 0; }

.page h2 {
  text-align: center; }

blockquote {
  padding: 18px 25px;
  margin: 0;
  quotes: "“" "”" "‘" "’";
  font-style: italic; }
  blockquote .author {
    display: block;
    font-weight: bold;
    margin: 10px 0 0 0;
    font-size: .85em;
    font-style: normal; }
  blockquote p {
    display: inline; }

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em; }

.square-image {
  width: 150px;
  height: 150px;
  overflow: hidden;
  margin: 25px auto 0 auto;
  position: relative;
  border-radius: 200px; }
  .square-image img {
    position: absolute;
    left: -1000%;
    right: -1000%;
    top: -1000%;
    bottom: -1000%;
    margin: auto;
    width: 300px; }

.page {
  margin-bottom: 0;
  padding-bottom: 80px; }

.center-text {
  text-align: center; }

.editor-link {
  display: none;
  margin-top: 0; }
  .editor-link .btn {
    border: 0;
    border-radius: 2px;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    font-size: 2rem;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0;
    font-size: 18px;
    cursor: pointer;
    background-color: #f7e064;
    color: #333;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2); }
    .editor-link .btn:hover {
      background-color: #f4d525;
      color: #333; }

.plans {
  -webkit-flex-flow: wrap;
  -moz-flex-flow: wrap;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  padding: 50px 0 30px 0; }
  .plans .plan {
    list-style: none;
    padding: 0;
    margin: 0 10px 50px 10px;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #eee;
    width: 100%; }
    .plans .plan .highlighted {
      font-size: 1.2em; }
    .plans .plan .pricing-cta {
      padding: 0; }
      .plans .plan .pricing-cta a {
        display: block;
        box-sizing: border-box;
        padding: 20px 0;
        border-radius: 0 0 2px 2px;
        border: 0; }
    @media (min-width: 768px) {
      .plans .plan {
        -webkit-flex: 1;
        flex: 1; } }
    .plans .plan li {
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      padding: 20px 0; }
      .plans .plan li h3 {
        padding: 0;
        margin: 0;
        color: #fff;
        font-weight: normal; }

.faq {
  color: #666; }
  @media (min-width: 768px) {
    .faq {
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2; } }
  .faq div {
    break-inside: avoid;
    padding: 25px 0; }
  .faq dt {
    font-weight: bold;
    margin: 0 0 5px 0; }
  .faq dd {
    padding: 0;
    margin: 0; }

.staff {
  padding: 0;
  list-style: none;
  -webkit-flex-flow: wrap;
  -moz-flex-flow: wrap;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  text-align: center; }
  .staff li {
    padding: 30px 20px;
    box-sizing: border-box;
    width: 100%; }
    @media (min-width: 450px) {
      .staff li {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 45%;
        -moz-box-flex: 1;
        -moz-flex: 1 1 45%;
        -ms-flex: 1 1 45%;
        flex: 1 1 45%; } }
    @media (min-width: 768px) {
      .staff li {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 29%;
        -moz-box-flex: 1;
        -moz-flex: 1 1 29%;
        -ms-flex: 1 1 29%;
        flex: 1 1 29%; } }
  .staff .square-image {
    width: 200px;
    height: 200px; }
    .staff .square-image img {
      border-radius: 200px; }
  .staff .name {
    font-size: 1.3em;
    margin-top: 20px; }
  .staff .position {
    color: #666; }

.map {
  width: 100%;
  margin: 100px 0;
  height: 400px; }

.contact-box {
  -webkit-flex-flow: wrap;
  -moz-flex-flow: wrap;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  max-width: 750px;
  margin: 0 auto; }
  .contact-box form {
    width: 100%; }
  .contact-box p {
    margin: 0; }
  .contact-box .contact-form, .contact-box .contact-details {
    margin: 0 30px; }
    @media (min-width: 768px) {
      .contact-box .contact-form, .contact-box .contact-details {
        -webkit-flex: 1;
        flex: 1; } }
  .contact-box .contact-details {
    font-size: .9em; }

.blog-posts {
  list-style: none;
  padding: 0; }
  .blog-posts li {
    margin: 100px 0; }

.blog-post .author {
  padding: 30px 0 0 0;
  border: 1px solid #eee;
  margin: 30px 0;
  font-size: .8em; }
  .blog-post .author .square-image {
    width: 125px;
    height: 125px;
    margin-top: 0; }
  .blog-post .author .blurb {
    text-align: center; }
.blog-post h3 {
  margin: 0; }
  .blog-post h3 a {
    color: #000;
    text-decoration: none;
    font-weight: normal;
    font-size: 1.3em; }
.blog-post h2 {
  text-align: left; }
.blog-post .blog-navigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden; }
  .blog-post .blog-navigation a {
    display: block;
    width: 50%;
    float: left;
    margin: 1em 0; }
  .blog-post .blog-navigation .next {
    text-align: right; }
.blog-post .post-details {
  border-bottom: 1px solid #eee;
  font-size: .9em; }
  .blog-post .post-details .blog-filter {
    display: inline-block;
    text-align: left; }
    .blog-post .post-details .blog-filter a {
      position: relative;
      top: -5px; }
  .blog-post .post-details a {
    text-decoration: none; }
  .blog-post .post-details .post-date {
    float: right; }
  .blog-post .post-details:after {
    content: "";
    display: table;
    clear: both; }
.blog-post .post-content .button {
  margin: 30px 0 0 0; }

.pagination {
  text-align: center; }

.blog-filter {
  text-align: center; }
  .blog-filter a {
    background: #eee;
    padding: 3px 5px;
    font-size: .8em;
    border-radius: 5px;
    color: #888;
    transition: .2s ease-in-out; }
    .blog-filter a:hover {
      color: #555;
      text-decoration: none; }

.blog-filter.cross a {
  padding-right: 8px; }
  .blog-filter.cross a:after {
    content: "x";
    font-size: .5em;
    position: relative;
    bottom: 4px;
    right: -3px; }

.button a, input[type=submit] {
  color: #fff;
  text-decoration: none;
  padding: 10px 30px;
  background: #4182e4;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition: .2s ease-in-out; }

.button a:hover, input[type=submit]:hover {
  border: 1px solid #fff;
  background: #4182e4;
  cursor: pointer; }

.button.alt a {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 16px 50px; }

.button.alt a:hover {
  background: #fff;
  color: #4182e4; }

textarea, input, button, select {
  font-family: inherit;
  font-size: inherit; }

input[type=submit] {
  margin: 20px 0 0 0; }

label, input, textarea {
  display: block;
  width: 100%;
  box-sizing: border-box; }

textarea {
  resize: vertical;
  height: 150px; }

label {
  margin: 20px 0 5px 0; }

input, textarea {
  padding: 10px;
  font-size: 1em; }

input, textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  border: 1px solid #DDDDDD; }

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, textarea:focus {
  box-shadow: 0 0 5px #51cbee;
  border: 1px solid #51cbee; }

.nav-open nav {
  border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
  padding: 10px 0; }
  .nav-open nav a {
    display: block; }
  @media (min-width: 620px) {
    .nav-open nav {
      border: 0;
      padding: 0 20px; }
      .nav-open nav a {
        display: inline; } }

nav {
  text-transform: uppercase;
  font-size: .8em;
  width: 100%; }
  @media (min-width: 620px) {
    nav {
      text-align: right;
      position: absolute;
      top: 13px;
      right: 0;
      padding: 0 20px; } }
  nav a {
    margin: 0 3px;
    padding: 20px 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0.8);
    transition: .2s ease-in-out;
    display: none; }
    @media (min-width: 620px) {
      nav a {
        display: inline;
        padding: 10px; } }
    nav a.nav-toggle {
      display: inline;
      position: absolute;
      right: 10px;
      top: -22px;
      font-size: 1.9em;
      border: 0; }
      @media (min-width: 620px) {
        nav a.nav-toggle {
          display: none; } }
      nav a.nav-toggle:hover {
        border: 0; }
  nav a:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff; }
  @media (min-width: 620px) {
    nav a.highlight {
      border: 1px #ccc solid;
      border-radius: 5px; }
      nav a.highlight:hover {
        background: #fff;
        color: #4182e4; } }
  nav a.active {
    color: #fff; }

.footer-links {
  width: 100%;
  margin: 10px;
  padding: 0; }
  @media (min-width: 450px) {
    .footer-links {
      -webkit-flex: 1 0 180px;
      flex: 1 0 180px; } }
  .footer-links li {
    list-style: none;
    margin: 15px auto; }
    @media (min-width: 450px) {
      .footer-links li {
        max-width: 150px; } }
    .footer-links li a:hover {
      text-decoration: none; }
    .footer-links li a svg {
      fill: #999;
      margin-right: 10px;
      transition: fill 0.2s ease;
      vertical-align: middle;
      position: relative;
      top: -2px;
      width: 22px;
      height: 22px; }
    .footer-links li a:hover svg {
      fill: #fff; }
    .footer-links li a.twitter-icon:hover svg {
      fill: #55acee; }
    .footer-links li a.google-plus-icon:hover svg {
      fill: #db4437; }
    .footer-links li a.youtube-icon:hover svg {
      fill: #cd201f; }
    .footer-links li a.instagram-icon:hover svg {
      fill: #f167f5; }
    .footer-links li a.linkedin-icon:hover svg {
      fill: #0077b5; }
    .footer-links li a.pinterest-icon:hover svg {
      fill: #bd081c; }
    .footer-links li a.rss-icon:hover svg {
      fill: #f26522; }

footer {
  padding: 50px 0 50px 0;
  font-size: 1.1em;
  position: relative;
  background: #2b2b40;
  color: #fff; }
  footer .copyright {
    font-size: .8em;
    margin: 0 auto; }
    @media (min-width: 450px) {
      footer .copyright {
        text-align: center; } }
  footer,
  footer a {
    color: #999; }
  footer h2 {
    font-size: 1.4em;
    margin: 30px 0;
    color: #ccc; }
  footer .footer-columns {
    -webkit-flex-flow: wrap;
    -moz-flex-flow: wrap;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    margin: -10px -10px 10px -10px; }
  footer a {
    text-decoration: none; }
    footer a:hover {
      color: #fff; }
  footer .legal-line {
    width: 100%;
    padding: 30px 0;
    margin: 0;
    background-color: #222527; }
    footer .legal-line a {
      font-weight: 600; }

.editor-link, .nav-open nav .editor-link {
  display: none;
  margin-top: 0; }
  .editor-link .btn, .nav-open nav .editor-link .btn {
    border: 0;
    border-radius: 2px;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    font-size: 2rem;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0;
    font-size: 18px; }
  nav .editor-link, .editor-link .btn, nav .nav-open nav .editor-link, .nav-open nav .editor-link .btn {
    cursor: pointer;
    background-color: #f7e064;
    color: #333;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2); }
    nav .editor-link:hover, .editor-link .btn:hover, nav .nav-open nav .editor-link:hover, .nav-open nav .editor-link .btn:hover {
      background-color: #f4d525;
      color: #333; }

.cms-editor-active .editor-link {
  display: block; }

.cms-editor-active nav .editor-link {
  display: inline; }
