# Default generated
_site/
.sass-cache/
.jekyll-metadata
/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
# Rubymine files
.idea
# Mac OS X temp files
.DS_Store
npm-debug.log
test/source
