.breadcrumbs {
  margin: 0 30px 10px 0;
  list-style: none;
  padding: 0;
  li {
    float: left;
    position: relative;
    &:not(:last-child):after {
      content: "/";
      padding: 0 8px;
      font-size: 30px;
    }
    a {
      color: #444;
      font-size: 30px;
      &:hover {
        color: $dark-orange;
      }
    }
  }
}
