.btn {
  color: $off-white;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 0;
  padding: 12px 20px;
  white-space: nowrap;
  text-shadow: 1px 1px 1px rgba(68, 68, 68, 0.2);
  @include border-radius($border-radius);
  @include box-sizing(border-box);
  @include btn($btn-initial, $btn-initial-border);
  i {
    margin-right: 4px;
  }
}

.btn-fat {
  margin: 10px 0;
  width: 100%;
  text-align: center;
}

.btn-thin {
  padding: 8px;
  margin: 5px;
}

.btn-active {
  @include btn($btn-active, $btn-active-border);
}

.btn-inactive {
  @include btn($btn-inactive, $btn-inactive-border, default !important, .5 !important, false);
}

.btn-toggle {
  @extend .btn-fat;
  @include btn(#a25433, #a25433);
}

.btn-success {
  @include btn($btn-success, $btn-success-border, pointer);
  &:hover {
    background-color: lighten($btn-success, 5%) !important;
    @include box-shadow(0 1px 0 $btn-success-border);
  }
}

.btn-delete {
  @include btn($btn-initial, $btn-initial-border);
  @include transition(background 0.3s);
  &:hover {
    @include btn($dark-red, $btn-danger-border);
  }
}

.btn-view {
  @include btn($btn-initial, $btn-initial-border);
  @include transition(background 0.3s);
  &:hover {
    @include btn($btn-active, $btn-active-border);
  }
}
