@import 'variables';

.content-table {
  table {
    width: 100%;
    background-color: #f2f2f2;
    border-radius: $border-radius;
    overflow: hidden;
  }

  thead {
    background-color: #333;

    th {
      text-align: left;
      position: relative;
    }
  }

  tr {
    border-bottom: 1px solid $border-color;
  }

  th {
    font-size: 17px;
    padding: 16px;
    color: #eee;
    font-weight: 500;
  }

  th.th-actions {
    text-align: right;
    padding-right: 20px;
  }

  tbody td {
    height: 64px;
    padding: 16px;
    vertical-align: middle;
  }

  td.row-title {
    strong a {
      font-size: 18px;
      color: #444;
      &:hover {
        color: $dark-orange;
      }
    }
  }

  td .row-actions {
    float: right;
  }
}

.content {
  padding: 48px;

  .content-header {
    display: flex;
    align-items: center;
    margin: 0 0 48px 0;
    h1 {
      margin: 0 48px 0 0;
      float: left;
      text-shadow: 1px 1px 1px rgba(68, 68, 68, 0.21);
    }
    .page-buttons {
      display: flex;
      a { margin: 0 5px }
    }
  }

  .single {
    &:focus {
      outline: none;
    }

    .breadcrumbs {
      width: 100%;
      input {
        width: 100%;
      }
    }
  }

  .content-wrapper {
    display: flex;
    .content-body {
      flex: 1;
      h1 {
        margin: 0 0 30px 0;
        font-size: 40px;
      }
    }
    .content-side {
      width: $content-side-width;
      font-size: 16px;
      margin-left: 48px;
    }
  }
  .error-messages {
    margin-bottom: 40px;
    padding: 10px 15px;
    font-size: 16px;
    color: $dark-red;
    background-color: lighten($dark-red, 37%);

    div {
      padding: 10px 0;
      &:before {
        content: "\f071";
        font-family: "FontAwesome";
        margin-right: 5px;
      }
    }
  }

  .splitter {
    margin: 15px 0;
    background: $border-color;
    border: 0;
  }

  .tooltip {
    position: relative;

    .tooltip-text {
      display: none;
      position: absolute;
      top: 36px;
      right: -250px;
      width: 300px;
      padding: 10px;
      font-size: 1rem;
      color: $white;
      text-align: center;
      background: $dark-gray;
      border-radius: $border-radius;
      box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.08);
      &:after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 5%;
        border: 9px solid;
        border-color: transparent transparent $dark-gray transparent;
      }
    }

    &:hover .tooltip-text {
      display: block;
    }
  }
}
