.datafields {
  margin-bottom: 40px;
  padding: 30px;
  background: #222;
  border-radius: $border-radius;
  .metafield {
    .field {
      background: #2b2b2b;
      border: 1px solid transparent;
      &:focus {
        border-color: $dark-orange;
      }
    }
    .meta-key {
      color: #eb2659;
      .key-field {
        color: #eb2659;
        &:focus {
          color: #eaeaea !important;
        }
      }
    }
    .meta-value {
      .value-field {
        color: #eaeaea;
      }
      >.imagepicker {
        .images-wrapper {
          button {
            background: #2b2b2b;
            border: none;
            &:focus, &:hover {
              color: #2b2b2b;
              background: $dark-orange
            }
          }
        }
      }
    }
    .meta-value-array {
      border: 1px solid #383838;
    }
    .meta-value-object {
      margin-bottom: 15px;
      .object-item-wrap {
        .object-value {
          >.object-item-wrap {
            margin-left: 50px;
            padding: 0;
            .object-key {
              position: relative;
            }
            .object-value {
              .object-item-wrap {
                margin-left: 50px;
              }
            }
          }
        }
      }
    }
    .meta-buttons {
      .dropdown {
        .meta-button {
          color: #575757;
          border-color: #575757;
          &:hover, &:focus {
            color: #333;
            border-color: $dark-orange;
          }
        }
        .dropdown-wrap {
          color: #ddd;
          background: #353535;
          border: 1px solid #323232;
          &:before {
            border-color: transparent transparent #353535;
          }
          span {
            border-bottom: 1px solid #272727;
            &:hover {
              color: #fff;
              background: $dark-orange;
              border-color: $dark-orange;
            }
          }
          .remove-field:hover {
            background: $dark-red;
            i {
              color: #fff;
            }
          }
        }
      }
    }
    .object-key {
      .key-field {
        color: #eb2659;
        &:focus {
          color: #eaeaea !important;
        }
      }
    }
  }
  .date-field {
    background: #222;
    outline: none;
    &.rw-widget {
      border-color: transparent;
      background: inherit;
      .rw-input { border-radius: 0 }
    }
    input {
      width: calc(100% - 3px) !important;
      color: #fff;
      background: #2b2b2b;
    }
  }
  .rw-popup {
    background: #2b2b2b;
    border-color: #222;
  }
  .rw-datetimepicker {
    .rw-btn {
      color: #fff;
      &:hover {
        color: #222;
        background: $dark-orange;
      }
    }
  }
  .rw-datetimepicker.rw-has-both {
    padding-right: 93px;
    >.rw-select {
      width: 95px;
      .rw-btn {
        margin: 0 1px;
        background: #2b2b2b;
        &:last-child {
          margin-right: 0;
        }
        &:hover {
          color: #2b2b2b;
          background: $dark-orange;
        }
      }
    }
  }
  .rw-calendar {
    color: #999;
    background: #2b2b2b;
  }
  .rw-state-focus {
    color: #2b2b2b !important;
    background: $dark-orange !important;
    border: 1px solid $dark-orange;
  }
  .data-new {
    margin-top: 25px;
  }
}
