.datafields {
  margin-bottom: 40px;

  .metafield {
    position: relative;
    zoom: 1;
    margin-bottom: 20px;
    .meta-key {
      color: #eb2659;
      &.simple {
        float: left;

        + .meta-value .value-field {
          margin-left: 15px;
          width: calc(100% - 240px);
        }
      }
      .key-field {
        margin: 0 0 10px;
        max-width: 190px;
        font-size: 16px;
        font-weight: 700;
        padding: 11px 10px;
        min-height: 46px;
        line-height: 1.5;
        border: 1px solid $border-color;
        @include border-radius(2px);
        @include transition(color 250ms ease);
      }
    }
    .meta-value {
      .value-field {
        overflow: hidden;
        word-wrap: break-word;
        resize: vertical;
        height: auto;
        width: 100%;
        min-height: 46px;
        max-height: 500px;
        line-height: 1.5;
        margin-bottom: 0;
        vertical-align: bottom;
        border: 1px solid #2b2b2b;
        font-size: 16px;
        padding: 11px 13px;
        @include border-radius(2px);
        @include transition(color 250ms ease);
        &:focus {
          border-color: $dark-orange;
        }
      }
      &:after {
        clear: both;
        display: table;
        content: "";
      }
    }
    .meta-value-array {
      position: relative;
      margin-right: auto;
      margin-left: 50px;
      padding: 10px 15px;
      pointer-events: auto;
      border: 1px solid #383838;
      @include border-radius(3px);
      .array-item-wrap {
        margin-bottom: 20px;
        .array-header {
          margin-bottom: 5px;
          .array-field-num{
            color: $orange;
            line-height: 27px;
            display: inline-block;
            margin-right: 5px;
          }
          .meta-buttons {
            position: static;
            display: inline-block;
          }
        }
      }
      .add-field-array {
        background: $dark-orange;
        text-align: center;
        color: #fff;
        border-radius: 50%;
        width: 26px;
        height: 26px;
        line-height: 26px;
        font-size: 16px;
        position: absolute;
        bottom: -13px;
        margin-left: -13px;
        left: 50%;
        i {
          margin: 0;
        }
      }
    }
    .meta-value-object {
      .object-item-wrap {
        padding-left: 50px;
        min-height: 50px;
        position: relative;
        margin-bottom: 10px;
        .object-key {
          width: 190px;
          position: relative;
          max-width: 200px;
          margin-bottom: 10px;
          &.simple {
            float: left;
            pointer-events: auto;
            + .object-value .meta-value .value-field {
              margin-left: 15px;
              width: calc(100% - 240px);
              pointer-events: auto;
            }
          }

          input {
            width: 100%;
            padding: 11px 55px 10px 11px;
            font-size: 16px;
            min-height: 48px;
            line-height: 1.5;
            pointer-events: auto;
            @include border-radius(2px);
          }
          .meta-buttons {
            transform: translateY(-50%);
            position: absolute;
            top: 50%;
            right: 5px;
          }
        }
        .object-value {
          position: relative;
          pointer-events: none;
          @include transition(padding 250ms ease);
          .object-item-wrap {
            margin-left: 50px;
            padding: 0;
            .object-key {
              position: relative;
            }
            .object-value .object-item-wrap {
              margin-left: 50px;
            }
          }
        }
      }
      .add-field-object {
        pointer-events: auto;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .meta-buttons {
      position: absolute;
      top: 4px;
      right: 0;
      z-index: 8;
      span.move {
        color: $inactive-gray;
        cursor: move;
        &:hover, &:focus {
          color: $dark-orange;
        }
      }
      .dropdown {
        cursor: pointer;
        position: relative;
        .meta-button {
          border: 2px solid #575757;
          padding: 2px 0;
          color: #575757;
          font-size: 13px;
          width: 23px;
          height: 23px;
          display: inline-block;
          text-align: center;
          outline: none;
          @include border-radius(50%);
          &:hover, &:focus {
            border-color: $dark-orange;
            background: $dark-orange;
            color: #fff;
          }
          &:focus + .dropdown-wrap {
            display: block;
          }
          i {
            margin: 0;
          }
        }
        .dropdown-wrap {
          &:before {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 10px 10px;
            border-color: transparent transparent #353535;
            content: "";
            position: absolute;
            top: -10px;
            left: 50%;
            margin-left: -10px;
          }
          transform: translateX(-50%);
          position: absolute;
          top: 35px;
          left: 50%;
          display: none;
          width: 185px;
          color: #ddd;
          background: #353535;
          border: 1px solid #323232;
          @include border-radius(2px);
          z-index: 30;
          span {
            display: block;
            padding: 15px 0 15px 15px;
            border-bottom: 1px solid #272727;
            outline: 0;
            i {
              padding-right: 8px;
            }
            &:hover {
              border-color: $dark-orange;
              background: $dark-orange;
              color: #fff;
            }
          }
          .remove-field {
            color: $dark-red;

            &:hover {
              background: $dark-red;
              i {
                color: white;
              }
            }
          }
        }
      }
    }
  }
  .meta-new {
    font-size: 20px;
    i {
      padding-right: 8px;
    }
  }
  .sortable-chosen, .sortable-chosen.sortable-ghost {
    & div {
      opacity: 0;
    }
    border: 2px dashed $dark-orange !important;
  }
  .showing-dropdown {
    z-index: 30;
  }
  .date-field {
    float: right;
    right: 34px;
    width: calc(100% - 240px);
    background: #222;
    &.rw-widget {
      @include border-radius(2px);
      border-color: transparent;
    }
    input {
      padding: 11px 13px;
      width: calc(100% - 3px);
      min-height: 46px;
      @include border-radius(2px);
      color: white;
      background: #2b2b2b;
    }
  }
  .rw-popup {
    padding: 10px;
    color: #818181;
    background: #2b2b2b;
    border-color: #222;
  }
  .rw-datetimepicker {
    box-shadow: none !important;
    font-size: 16px !important;
    .rw-btn {
      color: #fff;
      min-width: 37px;
      &:hover {
        color: #222;
        background: $dark-orange;
      }
      i { margin: 0; }
    }
    &.rw-has-both {
      padding-right: 93px;
      > .rw-select {
        width: 95px;
        border: none;
        .rw-btn {
          margin: 0 1px;
          min-width: 46px;
          color: #818181;
          background: #2b2b2b;
          &:last-child { margin-right: 0; }
          &:hover {
            color: #2b2b2b;
            background: $dark-orange;
          }
        }
      }
    }
  }
  .rw-calendar-popup {
    left: auto !important;
    right: -10px !important;
    width: 19em;
  }
  .rw-calendar {
    color: #999;
    background: #2b2b2b;
    .rw-header {
      padding-bottom: 15px;
      .rw-btn-view {
        width: 188px;
        background: transparent;
        border-radius: 0;
        &:hover { color: #222; background: $dark-orange; }
        &:focus { outline: none; }
      }
    }
    thead > tr { border-bottom: 1px solid #454545; }
    .rw-footer { border-top: 1px solid #454545; }
  }
  .rw-calendar-grid {
    &.rw-nav-view .rw-btn { padding: 0; }
    th {
      padding-bottom: 10px;
      text-align: center;
    }
    td .rw-btn {
      border-radius: 0;
      &.rw-off-range { color: #727272; }
    }
  }
  .rw-state-focus {
    color: #2b2b2b !important;
    background: $dark-orange;
    border: 1px solid $dark-orange;
  }
  .rw-list {
    max-height: 329px;
    .rw-list-option {
      padding: 8px 5px;
      border-radius: 0;
      &:hover {
        color: #cdcdcd;
        background: #454545;
        border-color: transparent;
      }
      &.rw-state-focus {
        color: #222;
        background-color: $dark-orange;
        border-color: transparent;
      }
      &:focus { outline: none; }
    }
  }

  .imagepicker {
    position: relative;
    width: calc(100% - 34px);
    textarea { width: calc(100% - 255px) !important; }
    .images-wrapper {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      button {
        margin: 0;
        padding: 0;
        display: inline-block;
        min-width: 48px;
        height: 100%;
        color: #818181;
        line-height: 2.286em;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
        background: #2b2b2b;
        background-image: none;
        border: none;
        outline: none;
        &:hover {
          color: #2b2b2b;
          background: $dark-orange;
        }
        i {
          margin: 0;
        }
      }
    }
  }

  padding: 30px;
  background: #222222;

  .metafield {
    .meta-key, .object-key {
      .key-field {
        color: #eb2659;
        background: #2b2b2b;
        border-color: transparent;

        &:focus {
          color: #eaeaea !important;
          border-color: $dark-orange;
        }
      }
    }

    .meta-value .value-field {
      color: #eaeaea;
      background: #2b2b2b;
      border-color: transparent;
    }
  }
}
