.field {
  background-color: #fff;
  color: #555;
  outline: 0;
  width: 100%;
  height: 2.286em;
  padding: .429em .857em;
  border: 1px solid $border-color;
  font-size: 14px;
  @include box-sizing(border-box);
  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));
  @include border-radius($border-radius);
  &:focus {
    border-color: $border-color-focus;
  }
}

.field-label {
  width: 100%;
  margin: 0 0 10px 0;
  text-transform: uppercase;
  display: block;
}

.input-title,
.input-path {
  textarea {
    display:inline-block;
    margin: 5px 0 30px 0;
    padding: 0;
    width: 100%;
    color: #757575;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
    resize: vertical;
    background: none;
    outline: none;
    border: 0;
    border-bottom: 1px solid #ccc;
    box-shadow: none;
    &:focus {
      color: #000 !important;
      border-bottom: 2px solid $border-color-focus;
    }
    &:hover {
      color: #444;
    }
  }
}

.input-title {
  textarea {
    min-height: 57px;
    font-size: 45px;
  }
}

.input-path {
  textarea {
    margin-top: 10px;
    min-height: 30px;
    font-size: 20px;
  }
  .tooltip {
    i {
      margin: 0 0 0 10px;
    }
    .tooltip-text:after {
      left: 11%;
    }
  }
}

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 30px;
    margin-left: 20px;
  }

  .switch input {display:none;}

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    @include transition(.4s);
    border-radius: 30px;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    @include transition(.4s);
    @include border-radius(50%);
  }

  input:checked + .slider {
    background-color: $dark-orange;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px $dark-orange;
  }

  input:checked + .slider:before {
    @include translateX(20px);
  }
}
