.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $header-height;
  background-color: $header-color;
  padding: 0 40px;
  .title {
    font-weight: normal;
    a {
      color: $inactive-gray;
      &:hover {
        color: $off-white;
      }
    }
  }
  .version {
    font-weight: 900;
    color: #727272;
  }
}
