@import 'vendors/font-awesome/font-awesome';
@import 'vendors/codemirror';
@import 'normalize';
@import 'variables';
@import 'mixins';
@import 'sidebar';
@import 'header';
@import 'content';
@import 'form';
@import 'metafields';
@import 'breadcrumbs';
@import "editor";
@import "staticfiles";

* {
  box-sizing: border-box;
}

body {
  color: #444;
  font-family: lato, Helvetica, Helvetica Neue;
  background-color: #f7f7f7;
}

h1,h2,h3,h4,h5 {
  font-weight: normal;
}

ul {
  margin: 0;
}

a {
  color: $dark-orange;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

i {
  display: inline-block;
  width: 15px;
  margin-right: 10px;
}

.wrapper {
  height: 100%;
}

.container {
  margin-left: $sidebar-width;
}

.btn {
  color: $off-white;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 0;
  padding: 12px 20px;
  white-space: nowrap;
  text-shadow: 1px 1px 1px rgba(68, 68, 68, 0.2);
  @include border-radius($border-radius);
  @include box-sizing(border-box);
  @include btn($btn-initial, $btn-initial-border);
}

.btn-fat {
  margin: 10px 0;
  width: 100%;
  text-align: center;
  &:hover {
    @include btn($btn-fat-hover, $btn-fat-hover-border)
  }
}

.btn-active {
  @include btn($btn-active, $btn-active-border);
}

.btn-inactive {
  @include btn($btn-inactive, $btn-inactive-border, default !important, .5 !important, false); 
}

.btn-success {
  @include btn($btn-success, $btn-success-border, pointer);
  &:hover {
    background-color: lighten($btn-success, 5%) !important;
    @include box-shadow(0 1px 0 $btn-success-border);
  }
}

.btn-danger {
  @include btn($btn-danger, $btn-danger-border);
}

.splitter {
  height: 1px;
  width: 100%;
  margin: 5px 0;  
  border-bottom: 1px solid #424242;
  border-top: 1px solid #212121;
}

.hidden {
  display: none;
}

.pull-right {
  margin-left: auto;
}

.notfound {
  text-align: center;
  img {
    margin: 40px 0;
  }
}

@font-face {
  font-family: "lato";
  src: url(../assets/fonts/lato-regular.ttf);
}

@font-face {
  font-family: "lato";
  src: url(../assets/fonts/lato-bold.ttf);
  font-weight: bold;
}
