@import 'vendors/font-awesome/font-awesome';
@import 'vendors/codemirror';
@import 'normalize';
@import 'variables';
@import 'mixins';
@import 'sidebar';
@import 'header';
@import 'content';
@import 'form';
@import 'metafields';
@import 'breadcrumbs';
@import "editor";
@import "staticfiles";

body {
  color: #444;
  font-family: lato, Helvetica, Helvetica Neue;
  background-color: #f7f7f7;
}

h1,h2,h3,h4,h5 {
  font-weight: normal;
}

ul {
  margin: 0;
}

a {
  color: $dark-orange;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

i {
  display: inline-block;
  width: 15px;
}

.wrapper {
  height: 100%;
}

.container {
  margin-left: $sidebar-width;
}

.btn {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  line-height: 32px;
  height: 32px;
  margin: 0;
  padding: 0 20px 1px;
  white-space: nowrap;
  text-shadow: 1px 1px 1px rgba(68, 68, 68, 0.2);
  @include border-radius(4px);
  @include box-sizing(border-box);
  @include btn($btn-initial, $btn-initial-border);
}

.btn-fat {
  width: 100%;
  text-align: center;
  height: 40px;
  line-height: 40px;
}

.btn-active {
  @include btn($btn-active, $btn-active-border);
}

.btn-inactive {
  @include btn($btn-inactive, $btn-inactive-border, default, .5, false); 
}

.btn-success {
  @include btn($btn-success, $btn-success-border);
}

.btn-danger {
  @include btn($btn-danger, $btn-danger-border);
}

.splitter {
  background-color: $orange;
  height: 1px;
  width: 100%;
  margin: 15px 0;
}

.hidden {
  display: none;
}

.pull-right {
  margin-left: auto;
}

.notfound {
  text-align: center;
  img {
    margin: 40px 0;
  }
}

@font-face {
  font-family: "lato";
  src: url(../assets/fonts/lato-regular.ttf);
}

@font-face {
  font-family: "lato";
  src: url(../assets/fonts/lato-bold.ttf);
  font-weight: bold;
}
