@import 'vendors/font-awesome/font-awesome';
@import 'vendors/codemirror';
@import 'normalize';
@import 'variables';
@import 'mixins';
@import 'sidebar';
@import 'header';
@import 'content';
@import 'form';
@import 'metafields';
@import 'breadcrumbs';
@import "editor";
@import "button";
@import "staticfiles";

* {
  box-sizing: border-box;
}

body {
  color: #444;
  font-family: lato, Helvetica, Helvetica Neue;
  background-color: #f7f7f7;
}

h1,h2,h3,h4,h5 {
  font-weight: normal;
}

ul {
  margin: 0;
}

a {
  color: $dark-orange;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

i {
  display: inline-block;
  width: 15px;
  margin-right: 10px;
}

.wrapper {
  height: 100%;
}

.container {
  margin-left: $sidebar-width;
}

.splitter {
  height: 1px;
  width: 100%;
  margin: 5px 0;
  border-bottom: 1px solid #424242;
  border-top: 1px solid #212121;
}

.hidden {
  display: none;
}

.pull-right {
  margin-left: auto;
}

.notfound {
  text-align: center;
  img {
    margin: 40px 0;
  }
}

@font-face {
  font-family: "lato";
  src: url(../assets/fonts/lato-regular.ttf);
}

@font-face {
  font-family: "lato";
  src: url(../assets/fonts/lato-bold.ttf);
  font-weight: bold;
}
