$sidebar-width: 220px;
$content-side-width: 260px;

$orange: #ffcc00;
$dark-orange: #ff9900;
$dark-red: #CF3F3F;
$new: #68BD6A;
$new-hover: #80ce81;

$border-color: #ddd;

$btn-initial: #b9b9b9;
$btn-initial-border: #828282;
$btn-active: #ff6e00;
$btn-active-border: #dd5c00;
$btn-success: #8dcf3f;
$btn-success-border: #6ba329;
$btn-danger: #ff6868;
$btn-danger-border: #bc0000;
